* {
  box-sizing: border-box;
}

/* layout classes */

.container {
  margin: 5% 10%;
  display: flex;
  flex-direction: column;
}

/* component styling */

.results {
  margin-top: 20px;
  width: 100%;
  display: flex;
  list-style-type: none;
  padding-left: 0;
  flex-wrap: wrap;
}

.card {
  border-radius: 3px;
  border: 1px solid black;
  margin: 10px;
  padding:10px 25px;
  flex-direction: column;
  flex-basis: 30%;
  min-width: 250px;
  /* position: relative; */
}

button:hover {
  cursor: pointer;
}

table {
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.measurements {
  display: flex;
  flex-direction: column;
}

.panel {
  border-radius: 3px;
  flex-basis: 25%;
  border: 1px solid black;
  padding: 15px;
}

.mid-panel {
  flex-basis: 50%;
  min-width: 250px;
  border: 1px solid black;
  margin: 0 20px;
  padding: 20px;
  border-radius: 3px;
}

.details {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
}

.param-data {
  margin-bottom: 10px;
  flex-basis: calc(100% / 3);
  min-width: 150px;
}
